

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 928px) {
    .places {
        width: 93.75%;
    }
}
@media screen and (min-width: 929px) and (max-width: 1024px) {
    .places {
        width: 928px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1094px) {
    .places {
        width: 90%;
    }
}
@media screen and (min-width: 1095px) {
    .places {
        width: 984px;
    }
}