.video__item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.video__item_kamchatka {
    background-image: url(../../../images/kamchatka.jpg);
}
.video__item_observatory {
    background-image: url(../../../images/observatory.jpg);
}

@media screen and (min-width:1025px) {
    .video__item {
        width: calc((100% - 2*18px)/2);
        padding-bottom: calc(0.554*calc((100% - 2*18px)/2));
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .video__item {
        width: calc((100% - 2*16px)/2);
    }
}
@media screen and (max-width:767px) {
    .video__item {
        width: 100%;
        margin-bottom: 8px;
    }
    .video__item:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width:320px) {
    .video__item {
        padding-bottom: 66.6%;
    }
}
@media screen and (min-width:321px) and (max-width:767px) {
    .video__item {
        padding-bottom: 58.3%;
    }
}
@media screen and (width:768px) {
    .video__item {
        padding-bottom: calc(0.568*calc((100% - 2*16px)/2));
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .video__item {
        padding-bottom: calc(0.7*calc((100% - 2*16px)/2));
    }
}