.intro__text {
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width: 767px) {
    .intro__description {
        font-size: 12px;
        line-height: 19px;
    }
}
@media screen and (width: 320px) {
    .intro__description {
        width: 300px;
    }
}