.video__subtitle {
    margin-bottom: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 14px;
    color: #FFFFFF
}

@media screen and (max-width: 425px) {
    .video__subtitle {
        margin-top: 3px;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .video__subtitle {
        margin-top: 12px;
    }
}
@media screen and (min-width: 769px) {
    .video__info {
        margin-top: 18px;
    }
}
